* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 400px;
    height: 60px;
    z-index: 2;
    /* border: 2px solid green; */
}

.left {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    background-color: #fff;
    color: #80ccff;
}

.right {
    width: 60px;
    height: 60px;
    border: 2px solid black;
    border-radius: 50%;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    background-color: #fff;
    color: #80ccff;
}

i {
    font-size: 45px;
}

.wrap {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 50%;
    /* left: 49.2%; */
    left: 38.2%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 200px;
    /* border: 2px solid black; */
    z-index: 3;
}

/* .main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 150vh;
    background-color: #666;
} */


.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 200px;
    border: 1px solid black;
    background-color: transparent;
    box-shadow: 0px 0px 5px black;
    /* overflow: hidden; */
    z-index: 2;
}

.card {
    position: relative;
    margin-left: 20px;
    top: 50%;
    left: 0;
    transform: translate(0, -45%);
    width: 100px;
    height: 80%;
    box-shadow: 0px 0px 5px black;
    border-radius: 3%;
    /* border: .5px solid black; */
}

.card .top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(120% / 2);
    transition: .3s;
    border-radius: 4%;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    line-height: 75px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}

.card .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100% / 2);
    background-color: #fff;
    border: .3px solid grey;
    border-top: none;
}

/* KOLORY */

.top.active {
    top: -9%;
    box-shadow: 0px 0px 5px black;
}

.card.first .top {
    background-color: #ff80ff;
}

.card.second .top {
    background-color: #79ff4d;
}

.card.third .top {
    background-color: #ff4d4d;
}

.card.fourth .top {
    background-color: #4d4dff;
}

.card.fifth .top {
    background-color: #adad85;
}

.card.sixth .top {
    background-color: #ff4dd2;
}

.card.seventh .top {
    background-color: #4dffff;
}

.card.eighth .top {
    background-color: #ff661a;
}

.card.ninth .top {
    background-color: #ffd633;
}

.block1 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: calc((100% - 450px)/2);
    background-color: #80ccff;
    z-index: 4;
}

.block2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: calc((100% - 450px)/2);
    background-color: #80ccff;
    z-index: 4;
}

.block3 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: calc((100% - 200px)/2);
    background-color: #80ccff;
    /* z-index: 4; */
}

.block4 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc((100% - 200px)/2);
    background-color: #80ccff;
    /* z-index: 4; */
}